listen: :443

tls:
  cert: /etc/hysteria/cert.pem
  key: /etc/hysteria/key.pem

auth:
  type: http
  http:
    url: http://127.0.0.1:3333/api/auth/hysteria2

masquerade:
  type: proxy
  proxy:
    url: https://example.com
    rewriteHost: true
